@font-face {
  font-family: Baloo;
  src: url("./font/BalooTammudu2-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Baloo , serif , sans-serif;
}

.app{
  height: 100vh;
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.search-box{
  width: 100%;
  text-align: center;
}

.search-box input{
  border: 0;
  outline : 0;
  padding: .9rem;
  width : 70%;
  border-radius:  0 0 10px 10px;
  font-size: 1.3rem;

}

.result-box{
  margin-top: 5rem;
  text-align: center;
}

.result-box h2{
  font-size: 3rem;
  text-shadow: 2px 2px 0 rgb(136, 136, 136);
}

.date{
  font-size: 2rem;
  font-style: italic;
}



.result{
  display: inline;
  padding : 0 3rem;
  position: relative;
  top : 1rem;
  background-color : rgba(250, 250, 250, 0.507);
  border-radius: 12px;
  font-size: 4rem;
  text-align-last: 1rem;
  box-shadow : 1px 1px 1px rgb(122, 122, 122)
}

